.banner {
background-image:url(Banner\ Image.png);
width: 1320px;
height: 600px;
color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 32px;
font-weight: 400;
}
.banner title{

}
.banner-heading{
    color: #FFF;

text-align: center;
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
}
.offer{
    color: #F00;
text-align: center;
font-size: 88px;
font-weight: 700;
}
.offer-title{
    color: #F00;

text-align: center;
font-size: 24px;
font-weight: 500;

}
.CATEGORIES{
    color: #070211;


font-size: 48px;
font-weight: 700;
text-align: center;
}
.welcomeimage{
    background-image: url(Vectorrr.png);
    width: 1320px;
height: 600px;
}
.welcome-title{
    color: #FFF;
    width: 624px;

font-family: Merriweather;
font-size: 64px;
font-weight: 900;
line-height: 88px; 
}
.welcome-text{
    color: rgba(255, 255, 255, 0.80);
    
    width: 697px;
    


font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 30px; 
}
.backgound-colour{
    width: 1320px;
height: 482px;
    background-color: lemonchiffon;

    
}
.meeting{
    color: #070211;
font-family: Inter;
font-size: 32px;
font-weight: 600;
}
.button-style {
    display: inline-flex;
padding: 16px 32px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: #F00;
}

.part{
    width: 1600px;
height: 7335px;
background: #FFF;
}
.offer{
    color: #F00;

text-align: center;
font-family: Inter;
font-size: 24px;
font-weight: 500;
}
.coming{
    olor: #070211;

font-family: Merriweather;
font-size: 48px;
font-weight: 900;

}
.partpara{
    color: rgba(7, 2, 17, 0.60);

font-family: Inter;
font-size: 20px;
font-weight: 400;
width: 393px;
}
.year{
    color: #F00;

font-family: Inter;
font-size: 48px;
font-weight: 700;
}
.yearpera{
    color: rgba(7, 2, 17, 0.60);
    width: 276px;

font-family: Inter;
font-size: 20px;
font-weight: 400;
}


.functional-title{
    color: #070211;

font-family: Inter;
font-size: 24px;
font-weight: 500;
}
.sale{

text-align: center;
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
color: #070211;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: normal;
}
.functionparaa{
    width: 1068px;
color: rgba(7, 2, 17, 0.60);

text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 500;
}
